*{
margin: 0;
padding: 0;
font-family: 'poppins', sans-serif;
box-sizing: border-box;
}
body{
    background-color: rgb(98, 71, 199);
}
.main{
    position: relative;
    padding-bottom: 58px;
    min-height: 100vh;
    width: 100%;
    height: 80px;                                               
    margin: 0 auto;
    background:rgb(98, 71, 199);

}
.content h2{
    text-align: center;
}
.header{
    text-align: center;
    background-color: rgb(98, 71, 199);
    color: rgb(252, 252, 252);
    padding: 30px 0;
    width: 1000px;
    height: 12%;
    margin: 0 auto;
}
.copy{  
    font-family: "Open Sans"; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: aliceblue;
    text-align: center;
    
    

}
.copy p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    
}

.team-section{
    width: 100%;
}
.team-section .container{
    width: 80%;
    margin: auto;
}
.team-section .container .row{
    width: 60%;
    margin: auto;
}
.team-section .container .row .title{
    text-align: center;
    margin-top: 50px;
}
.team-section .container .row .title h1{
    font-size: 40px;
    letter-spacing: 1.5;
    color: aqua;

}
.team-section .container .row .title p{
    font-size: 18px;
    font-family: sans-serif;
    margin: 30px 0px;
    color: #a3a3a3;

}
.team-section .container .team-card{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin-top: 50px;

}
.team-section .container .team-card .card{
    width: 100%;
    background-color: #052261;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    cursor: pointer;
}
.team-section .container .team-card .card:hover{
    transition: 0.3;
}
.team-section .container .team-card .card .image-section img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 6px solid #fff;
}
.centers{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.centers h1{
    font-size: 100px;
    margin-top: 80px;
    color: transparent;
    -webkit-text-stroke: 2px #fff;

}
.centers p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #0f0096;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #081c8b;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
.essence{
    display: flex;
    margin: 150px;
    width: 80%;
    padding: 50px;
    background-color: #052261;
}
img{
    
    width: 590px;
    height: 500px;
  
}
.text{
    text-align: center;
    color: aqua;
}
